*{
    margin: 0px;
}
.custom-navbar{
    padding-left: 1%;
    padding-right: 1%;
}
.navbar-brand h1{
    display: flex;
    padding-top: 20px;
    margin-left: 2%; 
    margin-right: 2%; 
    font-weight: bold;
    font-size: 30px;
}
.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bold;
    
}
.navbar-nav ul li{
    display: inline-block;
    padding: 0px 20px;
}
.navbar-nav a {
    color:black;
    text-decoration: none;
}
.navbar-nav a:hover{
    color:white;
   
}
body{
   background-color:azure;
   background-size: cover;
}

.navbar{
    height: 50px;
    background-color:beige;
    font-size: x-large;
    font-style: italic;
    
}

.img-container{
    background-image: url(imagenes/portada.jpg) ;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    text-align: right;
    border: none;
}
.img-inicio{
    background-image: url(imagenes/jeringa.jpg) ;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    text-align: right;
    border: none;
}

table {
    border-collapse: collapse;
    width: 90%;
    border: 1px solid #ccc;
    margin: auto;
}
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
th{
    background-color:blue;
    color: blanchedalmond;
}

  
td{
    background-color: moccasin;
    box-shadow: 0 2px 2px rgba(243, 38, 38, 0.1);
}
th {
    background-color: #333;
    color: white;
    text-align: center;
}
  
tfoot {
    font-weight: bold;
}
table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-style: oblique;
}
.img-container p{
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: left;
    min-height: auto;
    font-size: 45px ;
}
.img-inicio p{
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: left;
    min-height: auto;
    font-size: 45px ;

}
.imagen-principal{
    border: none;
       
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

img {
    width: 30%;
    height: auto;
    margin:60px;
    border: 2px solid #007bff;
    margin-right: auto;
    display: inline;
}

.formulario-pacientes{
    background-image: url(imagenes/paciente.jpg);
    font-weight: bold;
    background-position: right;
    background-repeat: no-repeat;
    margin: 50px;
    width: auto;
}
.form-control{
    width: 400px;
}
.formulario-medicos{
    background-image: url(imagenes/doctor.jpg);
    font-weight: bold;
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 50px;
    width: auto;
}
.formulario-contacto{
    background-image: url(imagenes/correo.png);
    font-weight: bold;
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
    margin: 50px;
    width: auto;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 30px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenedor-registro a:hover{
    background-color: wheat;
}
.contenedor-registro p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
.titulo p{
    text-align: left;
}
.img-container-admin{
    background-color: aqua;

    background-image: url(imagenes/admin.png) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    text-align: right;
    border: none;
}

.img-container-admin p{
    text-align: left;
    min-height: auto;
    font-size: 40px ;
}
.img-registro{
    background-image: url(imagenes/contraseña.jpg);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: right;
    border: none;

}
.img-registro p{
    text-align: left;

}
.img-registro:hover{
   color: black;
}
.usuario{
    background-color: goldenrod;
}
.administrador{
    background-color: rgb(252, 252, 121);
}




