{% extends 'principal_admin.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}" >
</head>

<body>
   
    {%load static%}
     <div class="shadow w-75 mx-auto p-3 m-5 img-container-admin ">
        <ul> <br>
            <br>
           <p>Clínica médica
           </p> 
           <p>Bienvenido al área de personal <br>
             administrativo</p>
           
           <p>"La eterna primavera" 
           </p>
           
          
           

        </ul> 
        
         
     </div>
    
    
    
</body>
</html>
{% endblock%}