{% extends 'principal_admin.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages%}
          <div class="alert alert-sucess">{{message}}</div>
        {% endfor %}
    {% endif%}
    <head>
        {%load static%}
        <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
    </head>

    

    <h2 class="text-center">Medicos</h2>
    <form class="shadow mx- p-3 m-0 formulario-medicos" method="post"
    action="medicos/guardar">
       {% csrf_token %} 
       Nombre: <input type="text" name="nombre" class="form-control my-2" required>
       Número de colegiado: <input type="number" name="numero_de_colegiado" class="form-control my-2" required>
       Especialidad: <input type="text" name="especialidad" class="form-control my-2" required>
       Otros: 
       <textarea class="form-control my-2" name="otros"></textarea>

       <input type="submit" value="Guardar" class="btn btn-primary">
    </form>



    <table >
        <tr class="table-dark">
            <th>Nombre</th> <br>
            <th>Número de colegiado</th>
            <th>Especialidad</th>
            <th>Otros</th>
            <th colspan="2"></th>
        </tr>
    {% for medico in medicos %}
        <tr>
            <td>{{medico.nombre}}</td>
            <td>{{medico.numero_de_colegiado}}</td>
            <td>{{medico.especialidad}}</td>
            <td>{{medico.otros}}</td>
            <td> 
                <form action="{% url 'eliminarm' medico.id %}"
                method="post">
                    {%csrf_token %}
                    <button class="btn btn-danger" onclick="return confirm('¿Deseas eliminar a este medico?')">
                        Eliminar

                    </button>
                </form>
            </td>
            <td> 
                <form action="{% url 'detallem' medico.id %}"
                method="post">
                    {%csrf_token %}
                    <button class="btn btn-warning" >
                        Editar

                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
    
    

{% endblock%}