{% extends 'principal_admin.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages%}
          <div class="alert alert-sucess">{{message}}</div>
        {% endfor %}
    {% endif%}
    <head>
        {%load static%}
            <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
    </head>
   
    <h2 class="text-center">Historial de visitas</h2>

     
            <table >
                <tr class="table-dark">
                    <th>Nombre</th>
                    <th>DPI</th>
                    <th>Visita</th>
                    <th>Médico</th>
                    <th>Diagnositco</th>
                    <th>Receta médica</th>


                    
                </tr>
            {% for paciente in pacientes %}
                <tr><td>{{paciente.nombre}}</td>  
                    <td>{{paciente.dpi}}</td>
                    <td>{{paciente.visita}}</td>
                    <td>{{paciente.doctor}}</td>
                    <td>{{paciente.diagnóstico}}</td>
                    <td>{{paciente.receta}}</td>
                  
                </tr>
            {% endfor %}
            </table>
      
  

 
{% endblock%}